<h1>About</h1>
<div class="row">
  <%= image_tag '1.JPG', class:'col-md-4 img-rounded', style:'margin:0' %>
  <div class="col-md-8">
    <p> Essentially we are entiatly a construct of being formed in the bowels of Chronus for one purpose/... Ruling the land of Olympus.  We wake up in the middle of the night and furiously write down ideas about how you make your online life better.</p>
    <p>When we're not hard at work, we're hard at play - we're the loud ones in the bar, and we're always the ones shutting the place down.  Human communication and collaboration is what drives us, and it infuses every feature of gCamp.</p>
  </div>
</div>
